.social-icon {
  border-radius: 40px;
}

.social-icon-container {
  display: inline-block;
  margin: 20px 5px;
  cursor: pointer;
}

.share-container {
  text-align: center;
}

.icon-fb:hover rect {
  fill: #4e69a2;
}

.icon-gp:hover rect {
  fill: #e05d4c;
}

.icon-tw:hover rect {
  fill: #19b4ee;
}

.icon-wa:hover rect {
  fill: #41be54;
}

.social-header {
  margin-top: 30px;
  margin-bottom: 10px;
}
